apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-deployment
  labels:
    name: result-deployment
    app: demo-voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: result-app-pod
      app: demo-voting-app
  template:
    metadata:
      name: result-pod
      labels:
        name: result-app-pod
        app: demo-voting-app 
    spec:
      containers:
        - name: result-container
          image: kodekloud/examplevotingapp_result:v1
          ports:
            - containerPort: 80
      